@import './common.scss';

.DividedBlock {
  margin: 20px 0;
}

@include breakpoint(md) { 
  .DividedBlock {
    margin: 40px 0;
  }
}

@include breakpoint(lg) { 
  .DividedBlock {
    margin: 60px 0;
    .column {
      @include centralize;
    }
  }
}