@import './common.scss';

.Footer {
  background-color: $blue;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  margin: 30px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}