@import './common.scss';

.ImageBox {
  background-color: #d2b0b0;
  height: 0;
  width: 90%;
  padding-bottom: 80%;
  position: relative;
  img {
    position: absolute;
    top: 10%;
    left: 8%;
  }
}

@include breakpoint(md) { 
  .ImageBox {
    width: 60%;
    padding-bottom: 53%;
    margin-left: 17%;
    img {
      top: 12%;
      left: 20%;
    }
  }
}

@include breakpoint(lg) { 
  .ImageBox {
    width: 73%;
    padding-bottom: 80%;
    margin-left: 0 !important;
    img {
      top: 12%;
      left: 20%;
    }
  }
}