@import './common.scss';

.ServiceCard {
  border: none !important;
  margin-bottom: 20px;
  background-color: transparent !important;
  img {
    width: 30%;
    margin: 0 auto;
  }
  .cardTitle {
    font-size: 22px;
    font-weight: bold;
  }
  .cardText {
    font-size: 17px;
  }
}

@include breakpoint(lg) { 
  .ServiceCard {
    width: 80%;
    img {
      width: 20%;
    }
  }
}