@import "./common.scss";

.Services {
  text-align: center;
  // @include backgroundBlue;
  .servicesContainer {
    width: 80%;
    margin: 0 auto;
    .cardContainer {
      display: flex;
      justify-content: center;
    }
  }
}