@import './common.scss';

.TextBox {
  margin-bottom: 0;
  width: 90%;
  background-color: transparent !important;
  text-align: center;
  h1 {
    @include title-font;
  }
  p {
    font-size: 19px;
  }
  button {
    padding: 10px 16px;
    font-size: 19px;
    color: #000;
  }  
}

.secondary {
  width: 100% !important;
  padding-right: 1rem !important;
  font-size: 17px !important;
}

@include breakpoint(lg) { 
  .secondary {
    padding-left: 3rem !important;
  }
}